 
    <div  fxLayout="column" style="margin: 25px;"    >
      <mat-toolbar  fxLayoutAlign="space-between center"  >
        <button mat-mini-fab  
                [color]="colorAdd"   
                (mouseover)="colorAdd = 'primary'" 
                (mouseout) ="colorAdd = 'accent'"
                (click)="_onBackProduct()">
          <mat-icon> arrow_back   </mat-icon>
        </button> 
          <button  mat-button  color="accent" >Product ID : {{data.uuid}}</button>
          <button  style="margin: 10px;" mat-mini-fab  
                    [color]="colorAdd"   
                    (mouseover)="colorAdd = 'primary'" 
                    (mouseout) ="colorAdd = 'accent'"
                    (click)="uploadAlltaskAndAdd()"   
                    aria-label="add product"  
                    disabled="{{_isStartUpload}}" >
              <mat-icon> playlist_add </mat-icon>
         </button>
         
        
      </mat-toolbar>

      <div fxLayout="row wrap"  fxLayoutAlign="space-around   center" >

        <div fxLayout="column"  style="margin: 25px;"    fxFlex="45">
         
          <mat-toolbar    fxLayoutAlign="space-between center"  >
            <span>product images :</span>
            <button mat-stroked-button color="primary" disabled="{{_isStartUpload}}" (click)="_onReset()">Reset</button> 
          </mat-toolbar>
          <div    *blockUI="'dropzoneBlockui'" >
            <div  class="drop-zone-container"  fxLayoutAlign="center center"    
                  appFilePicker
                  #dropZonePicker="appFilePicker" 
                  [multiple]="true" 
                  [maxFiles]="6"
                  (filesChanged)="_onFilesChanged($event)" 
                  (filesMax)="_filesMax($event)" 
                  (filesReset)="_reset()">
                  <mat-icon color="primary">add_circle</mat-icon>
              <span>Drag & Drop Files</span>
            </div>
          </div>
          <div>
            <mat-toolbar  style="margin-top: 25px;" >
              <span>Selected Files:</span>
            </mat-toolbar>
              <app-upload-table  [uploadTasks]="uploadOpList"         ></app-upload-table> 

              
          </div>
        </div>

        <div fxLayout="column"  style="margin: 25px;"     fxFlex="45">
          <mat-toolbar    >
            <span>product informations :</span>
          </mat-toolbar>
       
        <div  fxLayout="row wrap"      >
          <mat-form-field color="accent">
          <input matInput placeholder="name"    [(ngModel)]="data.Name" name="name">
          <mat-icon matSuffix color="accent">business  </mat-icon>
          </mat-form-field>
          <mat-form-field color="accent">
            <input  matInput  type="number" #input   placeholder="price" [(ngModel)]="data.Price" name="price" required > 
            <mat-icon matSuffix color="accent">monetization_on</mat-icon>
          </mat-form-field>
        </div>
    
        <div  fxLayout="row wrap"   >
      
          <mat-form-field color="accent" >
            <input  matInput  type="number" #inputstate    placeholder="stocks" [(ngModel)]="data.Stocks" name="stocks"  required >
            <mat-icon matSuffix color="accent">archive  </mat-icon>
          </mat-form-field>
          <mat-form-field color="accent">
            <input matInput  type="number"   placeholder="rating" [(ngModel)]="data.Rating" name="rating">
            <mat-icon matSuffix color="accent">stars   </mat-icon>
          </mat-form-field>
         </div>

   

         <div  fxLayout="row wrap"   >
          <mat-form-field appearance="fill">
            <mat-label>select Brand</mat-label>
            <mat-select [(ngModel)]="data.Brand"  required>
              <mat-option *ngFor="let brand of brands" [value]="brand.Name">
                {{brand.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
 
 
          <mat-form-field appearance="fill">
           <mat-label>select categorie</mat-label>
           <mat-select  [(ngModel)]="data.Categorie"    required>
             <mat-option *ngFor="let categorie of categories" [value]="categorie.Name">
               {{categorie.Name}}
             </mat-option>
           </mat-select>
         </mat-form-field>
         
        
         </div>
       

       
        </div>
      </div>
    
     
 
 
        
      
       
    </div>  
  
   
   

 