<!-- 
<mat-radio-group class = "tp-radio-group" [(ngModel)] = "deliveryModeSelected">
<mat-accordion class="fix-radio-position" hideToggle="true">
	<mat-expansion-panel #panel1  >
		<mat-expansion-panel-header style="align-items: center">
			<mat-panel-description>
				<mat-radio-button (change)="onChange($event, panel1)"  value="{{deliveryModes[0].DeliveryType}}">
					{{deliveryModes[0].name}}
				</mat-radio-button>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div fxLayout="column" fxLayoutAlign="space-between start" >
			Livraison prévue entre le mercredi 23 mars 2022 et le samedi 26 mars 2022,
			Vous serez informé par email/sms de l’arrivée de votre colis en magasin.
   
			<button mat-raised-button color="accent">choisir mon magasin </button>
		</div> 

	</mat-expansion-panel>
	<mat-expansion-panel #panel2  >
		<mat-expansion-panel-header>
			<mat-panel-description>
				<mat-radio-button (change)="onChange($event, panel2)"  value="{{deliveryModes[1].DeliveryType}}"
					style="line-height: 2">
					{{deliveryModes[1].name}}
				</mat-radio-button>
			</mat-panel-description>
		</mat-expansion-panel-header>

		<div fxLayout="column" fxLayoutAlign="space-between start"  >
			Livraison prévue entre le mercredi 23 mars 2022 et le vendredi 25 mars 2022.
   
			<button mat-raised-button color="accent">choisir mon magasin </button>
		</div> 

	
	</mat-expansion-panel>

	<mat-expansion-panel #panel3  >
		<mat-expansion-panel-header>
			<mat-panel-description>
				<mat-radio-button (change)="onChange($event, panel3)"  value="{{deliveryModes[2].DeliveryType}}"
					style="line-height: 2">
					{{deliveryModes[2].name}}
				</mat-radio-button>
			</mat-panel-description>
		</mat-expansion-panel-header>

		<div fxLayout="column" fxLayoutAlign="space-between start"  >
			Livraison prévue entre le jeudi 24 mars 2022 et le samedi 26 mars 2022.
   
			<button mat-raised-button color="accent">choisir mon magasin </button>
		</div> 

	
	</mat-expansion-panel>

</mat-accordion>

</mat-radio-group>
 -->



 
<mat-radio-group   [(ngModel)] = "deliveryModeSelected">
	<mat-accordion   hideToggle="true" *ngFor="let elm of deliveryModes, let i = index">
		<mat-expansion-panel     >
			<mat-expansion-panel-header  >
				<mat-panel-description>
					<mat-radio-button    value="{{elm.DeliveryType}}">
						{{elm.name}}
					</mat-radio-button>
				</mat-panel-description>
			</mat-expansion-panel-header>
			<div fxLayout="column" fxLayoutAlign="space-between start" >
				Livraison prévue entre le mercredi 23 mars 2022 et le samedi 26 mars 2022,
				Vous serez informé par email/sms de l’arrivée de votre colis en magasin.
	   
				<button mat-raised-button color="accent">choisir mon magasin </button>
			</div> 
	
		</mat-expansion-panel>
 
	</mat-accordion>
	
	</mat-radio-group>

	
<p>{{deliveryModeSelected | json }}</p>

 


 