 

 
 <mat-toolbar    class="mat-elevation-z10">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span     >{{title}}</span>
        <span class="example-spacer"></span> 
         
        <div   fxShow="true" fxHide.lt-md="true" >
              <app-navigation [isRow]="true"  ></app-navigation>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
  
  <mat-sidenav-container   >
    <mat-sidenav #sidenav >
      <app-navigation [isRow]="false"  ></app-navigation>
    </mat-sidenav>
    <mat-sidenav-content  >  
        <router-outlet></router-outlet>
        <mat-toolbar class="example-footer" >
          <app-footer fxFlexFill   ></app-footer>
        </mat-toolbar>
    </mat-sidenav-content>


 
  </mat-sidenav-container>    
     


<!-- 
   <mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav  >
      <app-navigation [isRow]="false"  ></app-navigation>
    </mat-sidenav>
  
    <mat-sidenav-content fxLayout="column">
  
      
        <mat-toolbar  style="height:8vh" class="mat-elevation-z10">
            <mat-toolbar-row>
              <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
              </button>
              <span     >{{title}}</span>
                <span class="example-spacer"></span> 
                
                <div   fxShow="true" fxHide.lt-md="true" >
                <app-navigation [isRow]="true"  ></app-navigation>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
   
 
      <router-outlet></router-outlet>
       
     
      <mat-toolbar class="example-footer"  >
        <app-footer fxFlexFill   ></app-footer>
      </mat-toolbar>
  
    </mat-sidenav-content>
  
  </mat-sidenav-container>  
  -->