 
   
<table mat-table [dataSource]="uploadTasks" class="selected-files-table" >
 
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let upload"> 
      <div style="margin: 5px;width: 60px;" >
           <p>{{upload.file.name}}</p>
        
      </div>
     </td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> image </th>
    <td mat-cell *matCellDef="let upload"> 
      <div style="margin: 5px;width: 60px;" >
          <img class="imgEnima" *ngIf="upload.downloadURL | async as url" [src]="url">   
        
      </div>
     </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> state </th>
    <td mat-cell *matCellDef="let upload"> 
      <div style="margin: 5px;width: 60px;" >
          <p c *ngIf="upload.State | async as state"> {{state}} </p> 
        
      </div>
     </td>
  </ng-container>

  <ng-container matColumnDef="progress">
    <th mat-header-cell *matHeaderCellDef> progress </th>
    <td mat-cell *matCellDef="let upload"> 
      <div style="margin: 5px;" *ngIf="upload.percentage | async as percentage ">
     <mat-progress-bar style="width: 100px;" color="warn" [value]="upload.percentageNbr"  ></mat-progress-bar>  
        {{upload.percentageNbr }}%
      </div> 
     </td>
  </ng-container>



  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> action </th>
    <td mat-cell *matCellDef="let upload"> 
      <div *ngIf="upload.snapshot | async as snap">
      
        <div  style="margin: 5px;" fxLayout="row"     > 
          <button style="margin: 5px;"    mat-mini-fab  color="accent"  
                  (click)="upload.task.pause()"   
                  [disabled]="!upload.isActive(snap)">
                  <mat-icon> pause_circle_outline  </mat-icon>
                </button>
          <!-- <button style="margin: 5px;"  mat-mini-fab  color="accent"  
                  (click)="upload.task.cancel()"  
                  [disabled]="!upload.isActive(snap)">
                  <mat-icon> cancel </mat-icon>
                </button> -->
           <button style="margin: 5px;"   mat-mini-fab color="accent" 
                (click)="upload.task.resume()" 
                  [disabled]="!(upload.isPaused(snap))">
                  <mat-icon> play_circle_outline  </mat-icon>
                </button>  
        </div>
      </div>  
     </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="_displayedColumnsTask"></tr>
  <tr mat-row *matRowDef="let row; columns: _displayedColumnsTask;"></tr>
</table>    
